:root {
  --md-sys-color-primary: #404e68;
  --md-sys-color-secondary: #404e68;
  --md-ref-typeface-brand: "Museo Sans";
  --md-ref-typeface-plain: Roboto;
  --md-focus-ring-duration: 0s;
  --md-dialog-container-color: white;
  --md-dialog-container-shape: 0.5rem;
}
body {
  font-family: var(--md-ref-typeface-plain);
  background: #fafafa;
  margin: 0;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-block-start: 16px;
  margin-block-end: 16px;
  opacity: 0.87;
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container > svg {
  flex: 0 0 auto;
}
.top-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  padding-block-start: 1.5rem;
}
.top-container p {
  font-style: normal;
  font-weight: 600;
  opacity: 0.6;
  margin: 0;
}
.wrapper {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.wrapper > * {
  max-width: 420px;
  min-width: 320px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem auto;
  background: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid lightgrey;
}
.login-card {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
  border-radius: 8px;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login-form-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.separator span {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(16, 24, 38, 0.12);
}
.separator p {
  padding: 0px 16px;
  color: rgba(16, 24, 38, 0.6);
}
.one-click-login-button {
  --md-filled-button-container-color: rgba(0, 0, 0, 0.12);
  --md-filled-button-label-text-color: rgba(0, 0, 0, 0.87);
  --md-sys-color-on-primary: rgba(0, 0, 0, 0.87);
  --md-focus-ring-color: rgba(0, 0, 0, 0.87);
  --md-filled-button-icon-size: 24px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  flex: 0 0 44px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.footer-wrapper a {
  text-decoration: none;
  color: #07800a;
}
.footer-wrapper a:hover {
  text-decoration: underline;
}
.dialog-title {
  padding: 0.5rem 1rem;
}
.dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
