:root {
  --md-sys-color-primary: #404e68;
  --md-sys-color-secondary: #404e68;
  --md-ref-typeface-brand: "Museo Sans";
  --md-ref-typeface-plain: Roboto;
  --md-focus-ring-duration: 0s;
  --md-dialog-container-color: white;
  --md-dialog-container-shape: 0.5rem;
  --md-sys-typescale-headline-font: "Museo Sans";
  --md-sys-typescale-title-font: "Museo Sans";

  --va-divider-color: rgba(16, 24, 38, 0.12);
  --va-text-medium-emphasis-color: rgba(0, 0, 0, 0.6);
  --va-text-high-emphasis-color: rgba(0, 0, 0, 0.87);
}
body {
  font-family: var(--md-ref-typeface-plain);
  font-weight: 400;
  letter-spacing: 0.5px;
  background: #fafafa;
  margin: 0;
  color: var(--va-text-high-emphasis-color);
}
h1 {
  font-family: var(--md-sys-typescale-title-font);
  font-size: 2rem;
  font-weight: 400;
  margin-block-start: 16px;
  margin-block-end: 16px;
}
form {
  margin-block-end: 0;
}
md-text-button > span,
md-filled-button > span {
  letter-spacing: 1.25px;
}
label[for] {
  font-family: var(--md-sys-typescale-title-font);
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container > svg {
  flex: 0 0 auto;
}
.top-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  padding-block-start: 1.5rem;
  margin-block-end: 1rem;
}
.top-container p {
  font-style: normal;
  color: var(--va-text-medium-emphasis-color);
  margin: 0;
}
.wrapper {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.wrapper > * {
  max-width: 420px;
  min-width: 320px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid lightgrey;
}
.login-card {
  color: initial;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  outline: 1px solid lightgrey;
  outline-offset: -1px;
  border-radius: 8px;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  transition: outline-color 0.2s;
  overflow: hidden;
}
.login-card:hover {
  text-decoration: underline;
  outline-color: grey;
}
.login-card:hover span:last-child {
  opacity: 1;
}
.login-card:hover img {
  transform: scale(1.2);
}
.login-card > .login-card-image-wrapper {
  flex: 0 0 80px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 1;
  background-color: #052c3f;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card > .login-card-image-wrapper > img {
  transition: transform 0.2s;
}
.login-card > .login-card-image-wrapper.login-card-image-green {
  background-color: #07800a;
}
.login-card > span:last-child {
  margin-left: auto;
  margin-right: 1rem;
  opacity: 0.38;
  transition: opacity 0.2s;
}
#login-page {
  animation: 0.5s cubic-bezier(0.25, 0.8, 0.5, 1) slidein;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login-form-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3rem;
}
.separator span {
  flex-grow: 1;
  height: 1px;
  background-color: var(--va-divider-color);
}
.separator p {
  padding: 0px 16px;
  margin: 0;
  color: var(--va-text-medium-emphasis-color);
}
.one-click-login-button {
  --md-filled-button-container-color: rgba(0, 0, 0, 0.12);
  --md-filled-button-label-text-color: rgba(0, 0, 0, 0.87);
  --md-sys-color-on-primary: rgba(0, 0, 0, 0.87);
  --md-focus-ring-color: rgba(0, 0, 0, 0.87);
  --md-filled-button-icon-size: 24px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  flex: 0 0 44px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.footer-wrapper a {
  text-decoration: none;
  color: #07800a;
}
.footer-wrapper a:hover {
  text-decoration: underline;
}
.dialog-title {
  padding: 0.5rem 1rem;
}
.dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
